/* Color Palatte
#94E8B4 - Light Green
#72BDA3 - Blue Green
#5E8C61 - Green
#4E6151 - Grey Green
#3B322C - Brown Green
font-family: 'Open Sans', sans-serif;
font-family: 'Caveat', cursive;
--------------------------------*/


/* Global Styles
--------------------------------*/
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
h1, h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 40px;
    margin-top: 0;
}
a {
    color: #94E8B4;
}
a:hover {
    text-decoration: none; 
}
.content-wrap {
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;
    overflow: auto;
}
.col-narrow {
    width: 30%;
    float: left;
    min-height: 175px;
}
.col-wide {
    width: 70%;
    float: left;
    padding-left: 20px;
    min-height: 175px;
}




/* Header and Footer
--------------------------------*/
header, footer {
    background: #3B322C;
    color: #5E8C61;
}
/* header */
.profile-img {
    border-radius: 50%;
}
header h1, header h2 {
    color: #94E8B4;
    margin: 0;
}
.content-wrap p {
    margin: 0;
}

/* footer */
footer {
    text-align: center;
}
.contact-info a {
    padding: 10px;
    display: inline-block;
}
footer p {
    margin-bottom: 0;
    padding-bottom: 10px;
}



/* Work Experience
--------------------------------*/
.work {
    background: #94E8B4;
}




/* Education
--------------------------------*/
.education {
    background: #72BDA3;
}
